@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
  }

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5;
    background-attachment: fixed;
    color: #fff;
}

header {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    overflow: hidden;
    margin-bottom: 10px;
    max-height: max-content;
    height: 100%;
}

/* header h1 {
    position: absolute;
    top: 3.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.login {
    margin-right: 15px;
}

.search {
    color: #000;
}

.topnav a.login, .search {
    float: right;
}

.topnav input.searchbar {
    height: 47.64px;
    background: transparent;
    border: none;
    /* margin-left: 15px; */
}

.topnav input::placeholder {
    color: #000;
}

.topnav a:hover {
    background-color: #000;
    color: #8A6E2F;
}

.topnav a.active {
    background-color: #000;
    color: white;
}

.topnav .icon {
    display: none;
}

.typewriter h2 {
  font-size: 40px;
  overflow: hidden;
  border-right: .15em solid #8A6E2F;
  white-space: nowrap;
  margin: 0 auto;
  max-width: max-content;
  letter-spacing: .15em;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8A6E2F; }
}

.start-typing {
  animation-play-state: running !important;
}

.index-body {
  width: 80vw;
  margin: 50px auto 0;
  padding: 20px;
  background-color: rgba(138, 110, 47, 0.7);
}

.mysecret-info {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.mysecret-info-2 {
  margin-top: 75px;
}

.mysecret-info-explenation {
  width: 60vw;
  color: #FFF;
}

.mysecret-info-explenation-2 {
  display: flex;
  gap: 50px;
}

.mysecret-info-titel {
  font-size: 20px;
  margin-bottom: 10px;
}

.mysecret-info-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
}

.mysecret-info-image img.padlock {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.home-lists {
  display: flex;
  gap: 10px;
}

.list-1 .list-1-content, .list-2 .list-2-content,.list-3 .list-3-content {
  margin-left: 15px;
}

.list-1-content li, .list-2-content li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.list-3 .list-3-content li {
  list-style-type: decimal;
  margin-bottom: 5px;
}

.list-1-content li:last-child, .list-2-content li:last-child, .list-3 .list-3-content li:last-child {
  margin-bottom: 0;
}


.redirect-register, .redirect-contact{
  list-style-type: none;
  color: #000;
}

.redirect-register:hover, .redirect-contact:hover {
  color: #fff;
  text-decoration: underline;
}

.add-secret {
  width: max-content;
  margin: 40px auto 0;
}

.add-secret a{
  padding: 20px 40px;
  text-transform: uppercase;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: #000;
  font-weight: bold;
}

.add-secret a:hover {
  background: #fff;
}

.secrets {
  position: relative;
  width: 80vw;
  margin: 50px auto 0;
  padding: 20px;
  background-color: rgba(138, 110, 47, 0.3);
}

.secrets-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
}

.secrets-card {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 20vw;
  height: 40vh;
  color: #000;
}

.secrets-card form button {
  padding: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.secrets-card form button:hover {
  background-color: red;
}

.secrets-card .secret-title {
  font-size: 18px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

.secrets-buttons {
  display: flex;
  gap: 20px;
}

.edit-buttons, .add-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-buttons .edit-button .fa-angle-left, .add-buttons .add-button .fa-angle-left{
  margin-right: 5px;
}

.secret-number {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.create-secret, .edit-secret {
  max-width: 35vw;
  padding: 30px;
  margin: 7vw auto 0;
  width: 100%;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: #000;
  display: flex;
  flex-direction: column;
}

.create-secret #title, .create-secret #content, .edit-secret #title, .edit-secret #content {
  border: none;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
}

.create-secret #content, .edit-secret #content {
  resize: none;
}

.create-secret #title::placeholder, .create-secret #content::placeholder, .edit-secret #title::placeholder, .edit-secret #content::placeholder {
  color: #CCCCCC;
}

form .add-button, form .edit-button {
  padding: 10px 20px;
  background-color: #000;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

form .add-button:hover, form .edit-button:hover {
  background-color: #fff;
  color: #000;
}

.contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 45vw;
  margin: 50px auto 0;
  padding: 20px;
  background-color: rgba(138, 110, 47, 0.7);
}

.personal-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.personal-information p a {
  color: #fff;
  margin-left: 5px;
}

.personal-information p a:hover {
  color: #000;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.pagination-buttons {
  flex: 1;
}

.pagination-buttons a {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 10px 20px;
}

.pagination-buttons a:hover {
  background: #fff;
  color: #000;
}

.flash-messages {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 100px;
  max-width: 360px;
  width: 100%;
  text-align: center; 
  align-items: center;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); 
  color: #000; 
  padding: 10px; 
  box-sizing: border-box; 
}

.flash-message {
  margin: 0; 
}

.flash-messages button {
  background: none;
  color: #000;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page h2 {
  color: #000;
  margin: 10px;
  text-align: center;
}
.form{
  position: relative;
  z-index: 1;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input.input-field {
  outline: 0;
  background: #000;
  color: #fff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input.submit {
  text-transform: uppercase;
  outline: 0;
  background: #000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input.submit:hover,.form input.submit:active,.form input.submit:focus {
  background: #fff;
  color: #000;
}
.form .message {
  margin: 15px 0 0;
  color: #000;
  font-size: 12px;
}
.form .message a, .form .register-manual a {
  color: #fff;
  text-decoration: none;
}

.manual {
  position: relative;
  z-index: 1;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  max-width: 450px;
  height: 60vh;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.back-to a {
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.back-to a:hover {
  background-color: #fff;
  color: #000;
}

.steps, .manual h2 {
  margin-bottom: 30px;
}

  /* The message box is shown when the user clicks on the password field */
#requirements {
  display: none;
  color: #000;
  position: relative;
  padding: 0;
  margin-top: 25px;
  text-align: left;
}

#requirements p {
  padding: 10px 35px;
  font-size: 13px;
}

/* Add a white text color and a checkmark when the requirements are right */
.valid {
  color: #fff;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a black text color and an "x" when the requirements are wrong */
.invalid {
  color: #000;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.invite-user {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  width: 25vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 100px auto 0;
}

.invite-user form input[type=text] {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  width: 20vw;
}

.invite-user form input[type=text]::placeholder {
  color: #c3c3c3;
}

.invite-user form .edit-buttons input[type=submit] {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.invite-user form .edit-buttons input[type=submit]:hover {
  background: #fff;
  color: #000;
}

.fa-user {
  margin-right: 5px;
}

.user-info-background {
  max-width: 40vw;
  width: 100%;
  background-color: rgba(138, 110, 47, 0.4);
  margin: 100px auto 0;
  padding: 30px;
}

.user-information {
  max-width: 35vw;
  width: 100%;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  margin: 0 auto;
  padding: 30px 40px;
  color: #000;
}

.user-information p {
  line-height: 3;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.profile-buttons a {
  padding: 10px 20px;
  background-color: #000;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.profile-buttons a:hover {
  background-color: #fff;
  color: #000;
}

.delete-account-form, .change-password-form {
  width: 100%;
  max-width: 30vw;
  margin: 100px auto 0;
  padding: 30px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: #000;
}

.delete-account-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.delete-account-form form input[type="password"], 
.change-password-form form .current-password input[type="password"], 
.change-password-form form .new-password input[type="password"] {
  border: none;
  width: 100%;
  padding: 10px 5px;
  background: #000;
  color: #fff;
}

.delete-buttons, .change-password-buttons {
  max-width: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-account-form form .delete-buttons button, 
.delete-account-form form .delete-buttons a,
.change-password-form form .change-password-buttons button.change-password,
.change-password-form form .change-password-buttons a {
  padding: 10px 20px;
  background-color: #000;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.delete-account-form form .delete-buttons button:hover, 
.delete-account-form form .delete-buttons a:hover,
.change-password-form form .change-password-buttons button.change-password:hover,
.change-password-form form .change-password-buttons a:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mysecret-info {
    flex-direction: column;
    justify-content: space-around;
  }

  .mysecret-info-explenation, .mysecret-info-image {
    width: 70vw;
  }

  .mysecret-info-image {
    margin: 0 auto;
  }

  .mysecret-info-image img.padlock {
    width: 65%;
  }

  .home-lists {
    gap: 40px;
  }

  .mysecret-info-2 {
    margin-top: 30px;
  }

  .mysecret-info-explenation-2 {
    flex-direction: column;
    gap: 30px;
  }

  .form {
    margin: 100px auto 100px;
  }

  .manual {
    max-width: 360px;
    margin: 100px auto 0;
  }

  .create-secret, .edit-secret {
    max-width: 70vw;
    margin: 20vw auto 0;
  }

  .secrets-card {
    width: 35vw;
  }

  .contact-body {
    width: 70vw;
    margin: 150px auto 0;
  }

  .iframe-route iframe {
    width: 60vw !important;
  }

  .invite-user {
    width: 65vw;
  }

  .invite-user form input[type=text] {
    width: 45vw;
  }

  .user-info-background {
    max-width: 90vw;
  }

  .user-information {
    max-width: 80vw;
  }

  .delete-account-form, .change-password-form {
    max-width: 75vw;
  }
}

@media screen and (max-width: 767px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .search {
    display: none;
  }

  .mysecret-info {
    flex-direction: column;
    justify-content: space-around;
  }

  .mysecret-info-explenation, .mysecret-info-image {
    width: 70vw;
  }

  .mysecret-info-2 {
    margin-top: 20px;
  }

  .mysecret-info-explenation-2 {
    flex-direction: column;
    gap: 30px;
  }

  .mysecret-info-image {
    margin: 0 auto;
  }

  .mysecret-info-image img.padlock {
    width: 100%;
  }

  .home-lists {
    flex-direction: column;
  }

  .list-2 .list-2-content {
    margin-left: 15px;
  }

  .form {
    margin: 100px auto 100px;
  }

  .manual {
    max-width: 360px;
    margin: 100px auto 0;
  }

  .create-secret, .edit-secret {
    max-width: 90vw;
    margin: 25vw auto 0;
  }

  .secrets-card {
    width: 70vw;
  }

  .contact-body {
    width: 90vw;
  }

  .iframe-route iframe {
    width: 85vw !important;
  }

  .invite-user {
    width: 85vw;
  }

  .invite-user form input[type=text] {
    width: 75vw;
  }

  .user-info-background {
    max-width: 90vw;
  }

  .user-information {
    max-width: 80vw;
  }

  .delete-account-form, .change-password-form {
    max-width: 90vw;
  }
}