{% extends "base.html" %}

{% block title %}Secret Manager - Add Secret{% endblock %}

{% block content %}

<div class="typewriter">
    <h2 class="Page-titel">Add Secret</h2>
</div>
<div class="create-secret">
    <form class="secret-form" method="post">
        <label for="title"><b>Title:</b></label><br>
        <input type="text" id="title" name="title" placeholder="Give your secret a name"><br><br>

        <label for="content"><b>Content:</b></label><br>
        <textarea id="content" name="content" rows="10" cols="50" placeholder="Give your secret content"></textarea><br><br>

        <div class="add-buttons">
            <input type="submit" value="Submit" class="add-button">
            <a href="/my-secrets" class="add-button"><i class="fa-solid fa-angle-left"></i>go back</a>
        </div>
    </form>
</div>
{% endblock %}