{% extends "base.html" %}

{% block title %}Secret Manager - Change Password{% endblock %}

{% block content %}

<div class="typewriter">
    <h2 class="Page-titel">Change Password</h2>
</div>

<div class="change-password-form">
    <form action="{{ url_for('home.change_password') }}" method="post">
        <div class="current-password">
            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password" required><br><br>
        </div>

        <div class="new-password">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required><br><br>
        </div>

        <div class="change-password-buttons">
            <button type="submit" class="change-password">Change Password</button>
            <a href="/profile" class="add-button"><i class="fa-solid fa-angle-left"></i>go back</a>
        </div>
    </form>
</div>

{% endblock %}
