{% extends "base.html" %}

{% block title %}Secret Manager - Contact{% endblock %}

{% block content %}

<div class="typewriter">
    <h2 class="Page-titel">Contact</h2>
</div>
<div class="contact-body">
    <div class="personal-information">
        <p><b>Phone:</b><a href="tel:0638517512">06-38517512</a></p>
        <p><b>Email:</b><a href="mailto:kamil.agdere@hva.nl">kamil.agdere@hva.nl</a></p>
        <p><b>Opening Hours:</b> Monday-Friday from 09:00 AM till 17:00 PM</p>
    </div>
    <div class="iframe-route">
        <iframe width="600" height="350" style="border:0; border: 5px solid #000;" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.618463788523!2d4.907123776235792!3d52.359204848122396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6099a4b62ff9f%3A0xaaf1a4822a7d03c9!2sHogeschool%20van%20Amsterdam%20-%20HvA%20Wibauthuis%20(WBH)!5e0!3m2!1snl!2snl!4v1696405341285!5m2!1snl!2snl">
        </iframe>
    </div>
</div>
{% endblock %}