{% extends 'base.html' %}

{% block title %}Secret Manager - Edit Secret{% endblock %}

{% block content %}
<div class="typewriter">
    <h2 class="Page-titel">Edit Secret</h2>
</div>
    <div class="edit-secret">
        <form method="POST" action="{{ url_for('home.update_secret', secret_id=secret[0]) }}">
            <input type="hidden" name="secret_id" value="{{ secret[0] }}">
            <label for="title"><b>Title:</b></label><br>
            <input type="text" id="title" name="title" value="{{ secret[1] }}"><br><br>
            <label for="content"><b>Content:</b></label><br>
            <textarea id="content" name="content" rows="10" cols="50">{{ secret[2] }}</textarea><br><br>
            <div class="edit-buttons">
                <button type="submit" class="edit-button">Save Changes</button>
                <a href="/my-secrets" class="edit-button"><i class="fa-solid fa-angle-left"></i>go back</a>
            </div>
        </form>
    </div>
{% endblock %}