{% extends "base.html" %}

{% block title %}Secret Manager - Invite User{% endblock %}

{% block content %}
<div class="typewriter">
    <h2 class="Page-titel">Invite User</h2>
</div>

<!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> 
                    <div class="flash-messages">
                        <div class="flash-message">{{ message }}</div>
                        <button class="dismiss-button" onclick="removeFlashMessage()"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
                <script>
                    function removeFlashMessage() {
                       var flashMessage = document.querySelector('.flash-messages');
                       if (flashMessage) {
                           flashMessage.remove();
                       }
                   }
                </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %} -->

<div class="invite-user">
    <form action="{{ url_for('home.invite_user', secret_id=secret_id) }}" method="post">
        <label for="invited_username">Username:</label><br>
        <input type="text" id="invited_username" name="invited_username" placeholder="JohnDoe" required>
        <br><br>
        <div class="edit-buttons">
            <input type="submit" value="Invite">
            <a href="/my-secrets" class="edit-button"><i class="fa-solid fa-angle-left"></i>go back</a>
        </div>
    </form>
</div>
{% endblock %}