{% extends "base.html" %}

{% block title %}Secret Manager - Login{% endblock %}

{% block content %}

<div class="login-page">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if 'Invalid username or password' in message %}
                <div class="flash-messages">
                    <div class="flash-message">{{ message }}</div>
                    <button class="dismiss-button" onclick="removeFlashMessage()"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <script>
                   function removeFlashMessage() {
                      var flashMessage = document.querySelector('.flash-messages');
                      if (flashMessage) {
                          flashMessage.remove();
                      }
                  }
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="form">
    <form class="login-form" method="POST">
        <h2>Sign In</h2>
        <input class="input-field" name="uname" type="text" placeholder="username" />
        <input class="input-field" name="upsw" type="password" placeholder="password" />
        <input type="submit" class="submit" value="login"></input>
        <p class="message">Not registered? <a href="/registreren">Create an account</a></p>
      </form>
    </div>
  </div>
{% endblock %}