{% extends "base.html" %}

{% block title %}Secret Manager - My Secrets{% endblock %}

{% block content %}

<div class="typewriter">
    <h2 class="Page-titel">My Secrets</h2>
</div>

<div class="add-secret"><a href="/add-secret">Add secret</a></div>
<div class="secrets">
    {% if secrets %}
    <ul class="secrets-element">
        {% for secret in secrets %}
        <div class="secrets-card">
            <li class="secret-title"><b>Title:</b> {{ secret[1] }}</li>
            <li><b>Content:</b> {{ secret[2] }}</li>
            <li><b>Uploaded on:</b> {{ secret[5] }}</li>
            <li><b>Author:</b> {{ secret[3] }}</li>
            <li><b>Secret Id:</b> {{ secret[0] }}</li>
            {% if session['id'] == secret[6] %}
            <div class="secrets-buttons">
                <form method="POST" action="{{ url_for('home.delete_secret', secret_id=secret[0]) }}">
                    <input type="hidden" name="secret_id" value="{{ secret[0] }}">
                    <button type="submit">Delete</button>
                </form>
                <form method="GET" action="{{ url_for('home.edit_secret', secret_id=secret[0]) }}">
                    <input type="hidden" name="secret_id" value="{{ secret[0] }}">
                    <button type="submit">Edit</button>
                </form>
                <form method="GET" action="{{ url_for('home.invite_user', secret_id=secret[0]) }}">
                    <input type="hidden" name="secret_id" value="{{ secret[0] }}">
                    <button type="submit">Invite User</button>
                </form>
            </div>
            {% endif %}
            <div class="secret-number">{{ (page - 1) * 10 + loop.index }}</div>
            <!-- Bij deze code heeft me vriend ermee geholpen -->
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>No secrets found.</p>
    {% endif %}
    <div class="pagination-container">
        <div class="pagination-buttons">
            {% if has_prev_page %}
            <a href="{{ url_for('home.my_secrets', page=page-1) }}">Previous</a>
            {% endif %}
        </div>
        <div class="pagination-info">
            Page {{ page }} of {{ total_pages }}
        </div>
        <div class="pagination-buttons">
            {% if has_next_page %}
            <a href="{{ url_for('home.my_secrets', page=page+1) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}