<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee2ce19d47.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link type="image/png" sizes="32x32" rel="icon" href="{{ url_for('static', filename='img/favicon-padlock.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon-padlock.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<!-- i used w3schools to get my id and base code for the navigation bar -->
<header>
    <nav>
        <!-- Here i have a standard navbar thats displayed on every page -->
        <div class="topnav" id="myTopnav">
            <a href="/" id="home-nav">Home</a>
            <a href="/my-secrets" id="my-secret-nav">My Secrets</a>
            <a href="/contact" id="contact-nav">Contact</a>
            <a href="/about" id="about-nav">About</a>
            <!-- i made an if statement to show an extra button named profile WHEN logged in -->
            {% if 'loggedin' in session %}
            <a href="/profile"><i class="fa-regular fa-user"></i>{{session['username']}}</a>
            {% endif %}
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="searchbar" type="text" placeholder="Search..">
            </div>
            <!-- here i made an if statement where if you're not logged id the login button will 
            show but when you are logged in the logout button will be displayed -->
            {% if 'loggedin' in session %}
                <a class="login" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    logout
                </a>
            {% else %}
                <a class="login" href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    login
                </a>
            {% endif %}
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>
    <!-- <h1>Secret Manager</h1> -->
</header>

<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="script.js"></script>
</body>